@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["Info"] = "Baleia Baleia Baliea droppou um grande som!";
}
<h1>@ViewData["Title"]</h1>
<h1>@ViewData["Info"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
